<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>G2ELab</li>
    <li>21 avenue des martyrs - CS 90624</li>
    <li>38031 Grenoble cedex 1,France</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Office 4-B-018</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+33 (0)7 69 17 30 90</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a
        href="mailto:sharath.ramkumar@cnrsatcreate.sg">sharath.ramkumar@cnrsatcreate.sg</a></li>
  </ul>
</div>